$white:#ffffff;
$violetline:#5e42b0;
$violetnav:#9071ea;
$violetbottom: #a496ca;
$black:#000000;
$graytitles:#e7e7e7;
$grayh3:#c1c1c1;
$header: rgb(10 14 52 / 0.1);
$grayline:#f5f4fa;
$blackline: #0a0e34;
$three: #8765dd;
$graymobile: #f5f4f9;
$graydots:#d8d8d8;
$violetdots: #5c3caf;